################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.v2
*/**/bin
*/**/obj
/.vs
